body {
  background: rgb(211, 211, 211);
  color: rgb(54, 54, 54);
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Palanquin Dark', sans-serif;
  color: rgb(84, 84, 84);
}

h2 {
  font-family: 'Palanquin Dark', sans-serif;
  color: rgb(84, 84, 84);
  padding-left: 30px
}

h3 {
  font-family: 'Palanquin Dark', sans-serif;
  color: rgb(124, 124, 124);
  padding: 0 !important;
  -webkit-margin-after: 0;
}

p {
  font-size: 90%;
  text-align: justify;
}

a:hover {
  color: #022E59;
  text-decoration: none;
}

a {
  color: #4C657E;
  text-decoration: none;
}

td { padding-bottom: 20px  }

ul {
  padding-left: 20px;
}

.icon-blue {
  color: #022E59;
}


.card-white {
  background: white;
  border-radius: 8px;
  box-shadow: 0px 1px 2px 0px #B5B5B5;
  padding: 20px;
  width: 970px;
  margin: auto auto 20px auto;
}

.card-white li {
  font-size: 90%;
  list-style-type: none;
  padding-bottom: 5px
}

.card-white p {
  margin: 3px;
}

.card-white td {
  vertical-align: top;
}

.card-contacts {
  padding: 5px 20px;
}

#card-social-network {
  padding: 1px 20px;
}

#card-social-network ul li {
  font-size: 40px;
  padding-left: 50px;
}


.text-center {
  text-align: center
}


#img-profile {
  height: 300px;
  width: auto;
  border-radius: 20px;
  box-shadow: 0px 1px 2px 0px;
}

#img-logo-pkf {
  height: 120px;
  padding: 30px 143px 30px 38px
}

#img-logo-clsbe {
  height: 130px;
  padding: 20px 39px 20px 10px;
}

#img-logo-le-wagon {
  height: 140px;
  padding: 0 19px 0 20px;
}

.list-in-line {
  text-align: center;
}


.list-in-line  li {
  font-size: 17px;
  padding: 0 100px 0 0;
  display: inline;
}

.small-padding {
  padding: 4px;
}




/*      <p>
        I am 24 and from Portugal, looking for new coding experiences and challenges. Currently attending a Full Stack Developer Bootcamp at Le Wagon, in Berlin.
      </p>
*/
